<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/styles.css">
    <title>Certificate</title>
    <style>
        html {
            zoom: 0.55; /*workaround for phantomJS2 rendering pages too large*/
        }
    </style>
</head>
<body>

    <img src="http://localhost:3000/assets/workfusion-logo.svg">

    <div class="certificate">CERTIFICATE of ACHIEVEMENT</div>
    <div class="text">
        <p class="regular">This is to certify that</p>
        <p class="name"><%=data.name%> <%=data.surname%></p>
        <p class="regular">has successfully completed the course <span class="excellence">with <span class="outstanding">excellence</span></span></p>
        <p class="course"><%=data.course_name%></p>
    </div>
    <div class="date">Date: <%=common.date%></div>
    <div class="grade">Grade: <%=data.grade_received%> / <%=data.grade_max%></div>
    <div class="trainers">Trainers: <%=common.trainers%></div>

</body>
</html>